<div class="row">
  <div class="col s12 center-align">
    {{#link-to test-type 'physical' class="waves-effect waves-light btn"}}
      Physical
    {{/link-to}}

    {{#link-to test-type 'mental' class="waves-effect waves-light btn"}}
      Mental
    {{/link-to}}

    {{#link-to test-type 'digestive' class="waves-effect waves-light btn"}}
      Digestive
    {{/link-to}}

    {{#if (and (eq test-type 'vikriti') (eq (get constitution 'gender') 'female'))}}
      {{#link-to test-type 'female' class="waves-effect waves-light btn"}}
        Feminine
      {{/link-to}}
    {{/if}}

    {{#link-to test-type 'results' class="waves-effect waves-light btn"}}
      Results
    {{/link-to}}
  </div>
</div>

<div class="row">
  <div class="col s12">

    {{#liquid-if (eq section 'results')}}

      <h5>
        Your {{test-type}} results:
      </h5>

      {{#liquid-unless results.isAnswered}}
        No questions have been answered yet!
      {{else}}
        {{dosha-score results=results.percentages}}
        {{!-- {{dosha-visualizer results=results.answersByType}} --}}
        {{md-btn
          text='Reset Answers'
          action='resetAnswers'
          class='indigo'
        }}
      {{/liquid-unless}}
    {{else}}
      Please choose any answer that applies to you
      {{question-array questions=sectionQuestions}}
    {{/liquid-if}}

  </div>
</div>
