{{screen-navigator test-type=test-type gender=(get constitution 'gender')}}

{{#liquid-if (eq section 'results')}}

<div class="row">
  <div class="col s12 center-align">
    {{#liquid-unless results.isAnswered}}
      <p>
        No {{test-type}} questions have been answered yet!
      </p>
      <p class='hide-on-small-only'>
        To answer questions about the condition of your {{test-type}}, click on the headings above.
      </p>
      <p class='hide-on-med-and-up'>
        To answer questions about the condition of your {{test-type}}, navigate to a section using the button on the lower right.
      </p>
    {{else}}
      {{dosha-score
        testType=test-type
        results=results
        resetTest=(action 'resetAnswers' test-type)
      }}

      {{!-- will add this back in later, when Kathleen's visuals are finished --}}
      {{!-- {{dosha-visualizer results=results.answersByType}} --}}
    {{/liquid-unless}}

  </div>
</div>

<div class="row">
  <div class="col s12 center-align">
    {{#liquid-unless otherResults.isAnswered}}
      <p>
        You can also take the {{otherTestType}} test:
      </p>
      {{#if (eq otherTestType 'vikriti')}}
        {{#link-to 'select-gender' class="waves-effect waves-light btn"}}
          Complete Vikriti Test
        {{/link-to}}
      {{else}}
        {{#link-to 'prakriti' 'physical' class="waves-effect waves-light btn"}}
          Complete Prakiti Test
        {{/link-to}}
      {{/if}}

    {{else}}
      {{dosha-score
        testType=otherTestType
        results=otherResults
        resetTest=(action 'resetAnswers' otherTestType)
      }}
    {{/liquid-unless}}
  </div>
</div>

<div class="divider">
</div>

{{#liquid-if results.isAnswered}}
  <div class="row">
    <div class="col m4 s12 center-align">
      <a href="https://clients.mindbodyonline.com/classic/home?studioid=25037" class="indigo ember-view waves-light waves-effect btn results-actions">
        Schedule Appointment
      </a>
    </div>

    <div class="col m4 s12 center-align">
      {{md-btn
        text='Print'
        action='printAnswers'
        class='indigo results-actions'
      }}
    </div>
    <div class="col m4 s12 center-align">
      <a href="mailto:info@doctorblossom.com" class="indigo ember-view waves-light waves-effect btn results-actions">
        Email Dr. Blossom
      </a>
    </div>
  </div>
{{/liquid-if}}


{{else}}
  {{#if (eq test-type 'vikriti')}}
    <div>Lately I have</div>
  {{/if}}
  {{question-array questions=sectionQuestions}}

  <p class="center hide-on-med-and-up">
    Choose another section
  </p>

{{/liquid-if}}
