{{#if (eq category 'results')}}
  {{#unless results.isAnswered}}
    No questions have been answered yet!
  {{else}}
    <ul>
      {{#each-in results.percentages as |dosha values|}}
      <li class={{dosha}}>
        {{dosha}}
        <span class='score'>{{values}} %</span>
      </li>
      {{/each-in}}
    </ul>
  {{/unless}}
{{else}}
  {{question-array questions=categoryQuestions}}
{{/if}}
