
{{!-- place each question in cards --}}

{{#each-in questions as |type typedQuestions|}}
  {{type}}
  <ul>
  {{#each typedQuestions as |question|}}
    <li>
      {{input type="checkbox" checked=question.isSelected id=question.id}}
      <label for={{question.id}}>{{question.text}}</label>
    </li>
  {{/each}}
  </ul>
{{/each-in}}

{{yield}}
