<div class="row hide-on-small-only">
  <div class="col s12 center-align">
    {{#link-to test-type 'physical' class="waves-effect waves-light btn"}}
      Physical
    {{/link-to}}

    {{#link-to test-type 'mental' class="waves-effect waves-light btn"}}
      {{!-- {{link-to 'Mental' test-type 'mental'}} --}}
      Mental
    {{/link-to}}

    {{#link-to test-type 'digestive' class="waves-effect waves-light btn"}}
      Digestive
    {{/link-to}}

    {{#if (and (eq test-type 'vikriti') (eq gender 'female'))}}
      {{#link-to test-type 'reproductive' class="waves-effect waves-light btn"}}
        Reproductive
      {{/link-to}}
    {{/if}}

    {{#link-to test-type 'results' class="waves-effect waves-light btn red"}}
      Results
    {{/link-to}}
  </div>
</div>

{{#md-fixed-btns
	class="hide-on-med-and-up click-to-toggle"
	btnIcon="mdi-content-send"
	btnClass="btn-large lime darken-2"
}}

	{{#md-fixed-btn
		btnClass="indigo"
		btnIcon="mdi-action-class"
    action=(action 'transitionPath' 'physical')
	}}
    {{link-to '' test-type 'physical'}}
    <span class='fab-link-text'>
      Physical
    </span>
  {{/md-fixed-btn}}

	{{#md-fixed-btn
		btnClass="green"
		btnIcon="mdi-content-grade"
    action=(action 'transitionPath' 'mental')
	}}
    {{link-to '' test-type 'mental'}}
    <span class='fab-link-text'>
      Mental
    </span>
  {{/md-fixed-btn}}

	{{#md-fixed-btn
		btnClass="green"
		btnIcon="mdi-action-redeem"
    action=(action 'transitionPath' 'digestive')
  }}
    {{link-to '' test-type 'digestive'}}
    <span class='fab-link-text'>
      Digestive
    </span>
  {{/md-fixed-btn}}

  {{#if (and (eq test-type 'vikriti') (eq gender 'female'))}}
    {{#md-fixed-btn
      btnClass="green"
      btnIcon="mdi-action-redeem"
      action=(action 'transitionPath' 'reproductive')
    }}
      {{link-to '' test-type 'reproductive'}}
      <span class='fab-link-text'>
        Reproductive
      </span>
    {{/md-fixed-btn}}
  {{/if}}

	{{#md-fixed-btn
		btnClass="red"
		btnIcon="mdi-alert-warning"
    action=(action 'transitionPath' 'results')
	}}
    {{link-to '' test-type 'results'}}
    <span class='fab-link-text'>
      Results
    </span>
  {{/md-fixed-btn}}
{{/md-fixed-btns}}
